/* --- ГЛАВНАЯ СТРАНИЦА --- */

/* --- Шапка--- */

.header-container {
  display: flex;
  align-items: center;
}

.header-catalogue {
  display: flex;
  margin-right: auto;
}

.logo {
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
}

.logo-link{
  color: var(--text-blue);
}

.list-nav {
  display: flex;
  align-items: center;
  margin-left: 92px;
}

.item-nav:not(:last-child) {
  margin-right: 50px;
}

.link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  
}

.link:hover,
.link:focus {
  color: var(--text-blue);
}

.list-nav .link.current {
  color: var(--text-blue);
}

.header-list{
  display: flex;
}

.header-cont {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-grey);
}

.header-cont {
  padding-right: 50px;
}

.header-cont:last-child {
  padding-right: 0;
} 

.header-contacts:hover,
.header-contacts:focus {
  color: var(--text-blue);
}

/* --- Баннер --- */

.hero {
  background-color: var(--background-hero);
  text-align: center;
  
}

.hero-text {
  margin-bottom: 30px;
  color: var(--text-hero-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--text-hero-white);
  background-color: var(--text-blue);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero .container {
  max-width: 696px;
}

/* --- Особенности --- */

.features {
  display: flex;
  padding-top: 89px;
  padding-bottom: 91px;

}

.features-list {
  display: flex;
  justify-content: space-between;
}

.features-item {
  padding-right: 30px;
}

.features-item:last-child {
  padding-right: 0px;
}

.features-heading {
  max-width: 270px;
  padding-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  max-width: 270px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

/* --- Чем мы занимаемся --- */

.work {
  padding-bottom: 94px;
  
}

.heading-main {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.work-list {
  display: flex;
  justify-content: space-between;
}

.work-item {
  padding-right: 30px;
}

.work-list:last-child {
  padding-right: 0;
}

/* --- Наша команда --- */

.family,
.family-list {
  display: flex;
}

.family-item {
  display: inline-block;
  padding-right: 30px;
}

.family-item:last-child {
  padding-right: 0;
}

.family {
  padding-top: 94px;
  padding-bottom: 94px;
}


.family-image {
  max-width: 270px;
  display: inline-block;
  padding-bottom: 30px;
}

.family-name {
  max-width: 270px;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.family-proffesion {
  max-width: 270px;
  padding-bottom: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

/* --- Футер --- */

/* --- Адресс --- */

.footer {
  background-color: var(--background-hero);
  padding: 60px 0;
}

.logo-footer {
  display: inline-block;
  color: var(--text-hero-white);
  padding-bottom: 20px;
}

.address-link {
  padding-bottom: 9px;
  display: inline-block;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-hero-white);
  
}

.post {
  color: var(--text-white-footer);
}

.address-link:hover,
.address-link:focus {
  color: var(--text-blue);
}