/* --- ГЛАВНАЯ СТРАНИЦА --- */

/* --- Шапка--- */

.logo {
  font-style: normal;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  
}

.logo-link{
  color: var(--text-blue);
}

.link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--text-blue);
}

.site-nav .link.current {
  color: var(--text-blue);
}

.header-contacts {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-grey);
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--text-blue);
}

/* --- Баннер --- */

.hero {
  background-color: var(--background-hero);
}

.hero-text {
  color: var(--text-hero-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  color: var(--text-hero-white);
  background-color: var(--text-blue);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

/* --- Особенности --- */

.features-heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

/* --- Чем мы занимаемся --- */

.heading-main {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

/* --- Наша команда --- */

.family-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.family-proffesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-grey);

}

/* --- Футер --- */

/* --- Адресс --- */

.footer {
  background-color: var(--background-hero);
}

.logo-footer {
  color: var(--text-hero-white);
}

.address-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-hero-white);
  
}

.post {
  color: var(--text-white-footer);
}

.address-link:hover,
.address-link:focus {
  color: var(--text-blue);
}