
/* --- ГЛАВНАЯ СТРАНИЦА --- */
/* ХЕДЕР И ФУТЕР В ОСНОВНОМ ФАЙЛЕ */

/* --- Баннер --- */

.hero {
  background-color: var(--background-hero);
  text-align: center;
}

.hero-text {
  margin-bottom: 30px;
  color: var(--text-hero-white);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  display: inline-block;
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  color: var(--text-hero-white);
  background-color: var(--text-blue);
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.hero .container {
  max-width: 696px;
}

/* --- Особенности --- */

.features {
  display: flex;
  padding-top: 89px;
  padding-bottom: 91px;
}

.features-list {
  display: flex;
}

.features-items {
  width: calc((100% - 90px) / 4);
  margin-right: 30px;
}

.features-items:last-child {
  margin-right: 0px;
}

.features-heading {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features-text {
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--text-grey);
}

/* --- Чем мы занимаемся --- */

.work {
  padding-bottom: 94px;
}

.heading-main {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.work-list {
  display: flex;
}

.work-item {
  width: calc((100% - 60px) / 3);
  padding-right: 30px;
}

.work-item:last-child {
  padding-right: 0;
}

.work-item img {
  display: block;
}

/* --- Наша команда --- */

.family {
  padding-top: 94px;
  padding-bottom: 94px;
}

.family-list {
  display: flex;
}

.family-item img {
  display: block;
  max-width: 270px;
  padding-bottom: 30px;
}

.family-item {
  width: calc((100% - 30px) / 4);
  margin-right: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.family-item:last-child {
  padding-right: 0;
}

.family-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-black);
}

.family-proffesion {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-grey);
}

